@font-face {
    font-family: Clock;
    src: url("../fonts/alarm_clock.ttf");
 }
 @font-face {
    font-family: Trans;
    src: url("../fonts/Transformers\ Movie.ttf");
 }
 @font-face {
    font-family: Pixel;
    src: url("../fonts/OTF/dogica.otf");
 }
@font-face {
    font-family: Nasa;
    src: url("../fonts/nasalization-rg.otf");
}
@font-face {
    font-family: Jedi;
    src: url(../fonts/jedi/starjedi/Starjhol.ttf);
}
@font-face {
    font-family: TT;
    src: url(../fonts/TT/TT\ Octosquares\ Trial\ Medium.ttf);
}

:root{

    --time-earth: 0s;
    --time-other: 0s;

}

body{

    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: #252525;
    border: none;
    margin: 0;
    padding: 0;


}

#container{

    width: 100%;
    height: 102vh;
    margin-top: -3vh;
    
}

#top_side{

    display: inline-flex;


}

#left_side{

    width: 49.5vw;
    height: 102.5vh;
    border-right-style: solid ;
    border-right-width: 1px;
    border-right-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-image: url("../img/quarto.jfif");
    background-size: cover;
    background-position: -75px;
    z-index: 1;
    box-shadow: 2em 2em 5em lightgoldenrodyellow inset;

}

#right_side{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    width: 49.3vw;
    height: 102.5vh;;

}

#back{

    right: 8.3vw;
    top: 17vh;
    position: absolute;
    width: 27vw;
    height: 27vw;
    background-image: url("../img/aceleracao.jfif");
    background-size: cover;
    background-position: 0px;
    animation: back 0.1s infinite forwards linear;
    
}

#content{

    width: 49.3vw;
    height: 102.5vh;
    position: relative;
    background-image: url("../img/galaxia.jfif");
    background-size: cover;
    background-position: 0px;


}

#relogio-1, #relogio-2{

    
    
    text-align: center;
    position: relative;
    
}

#relogio-1{

    font-family: Clock;
    background-color: #282828;
    line-height: 3vw;
    color: green;
    text-shadow: 0 0 0.5em green;
    top: 53vh;
    left: 10.99vw;
    width: 4.8vw;
    height: 5.5vh;

}

#relogio-2{

    background-image: url("../img/hologram.png");
    background-size: cover;
    background-position: -0px;
    top: 45vh;
    left: 17.6vw;
    width: 20vw;
    height: 20vw;
    line-height: 19vh;
    font-size: 5vh;
    font-family: Clock;
    color: darkblue;
    text-shadow: 0 0 0.5em blue;

}

#timer-2{

    position: relative;
    left: -0vw;
    top: -3.5vh;

}

#buttons{

    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;

}

#earth-stay{

    position: absolute;
    width: 20vw;
    height: 15vh;
    background-color: transparent;
    border: none;
    left: 15vw;
    top: 12vh;
    background-image: url("../img/botao_2.png");
    background-size: cover;
    font-family: Pixel;
    font-size: 1.3vw;
    
}

#earth-stay:hover{

    transform: scale(1.05);
    cursor: pointer;
    
}

#space-stay{

    text-shadow: 0 0 1em white;
    font-family: Trans;
    font-size: 2.5vw;
    position: absolute;
    width: 20vw;
    height: 15vh;
    right: 12vw;
    top: 15vh;
    background-color: transparent;
    background-image: url("../img/botao_1.png");
    background-size: cover;
    color: white;
    border: none;
    
}

#space-stay:hover{

    transform: scale(1.05);
    cursor: pointer;
    
}

#start{

    font-family: Nasa;
    font-size: 1.4vw;
    color: rgb(37, 23, 9);
    text-shadow: 0em 0em 1em rgb(37, 23, 9);
    z-index: 2;
    position: absolute;
    left: 45vw;
    top: 70vh;
    width: 9vw;
    height: 9vw;
    border-radius: 100%;
    background-image: url("../img/relogio_3.webp");
    background-size: cover;
    background-color: white;
    border-style: solid;
    border-width: 0.5em;
    border-color: rgb(37, 23, 9);
    box-shadow: 0em 0em 1em rgb(37, 23, 9);

}

#start:hover{

    animation: rotate 0.4s infinite forwards linear;
    cursor: pointer;
    
}

#pause{

    font-family: Trans;
    font-size: 1.5vw;
    color: darkblue;
    text-shadow: 0 0 1em blue;
    z-index: 2;
    position: absolute;
    left: 45vw;
    top: 70vh;
    width: 9vw;
    height: 9vw;
    background-image: url("../img/botao_hologram.png");
    background-size: cover;
    background-color: none;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(0, 255, 242);
    box-shadow: 0em 0em 2em rgb(0, 255, 242);

}


#pause:hover{

    animation: pause 0.1s forwards linear;
    animation-iteration-count: unset;
    cursor: pointer;
    
}

#start_2{

    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    font-family: Pixel;
    font-size: 1vw;
    color: black;
    text-shadow: 0 0 1em black;
    z-index: 2;
    position: absolute;
    left: 40.5vw;
    top: 70vh;
    width: 9vw;
    height: 7vw;
    background-color: rgba(217,214,204,255);
    background-size: cover;
    border-style: solid;
    border-top-width: 1.5vw;
    border-right-width: 0.1em;
    border-color: #04bb63;
    
}

#start_2:hover{

    animation: start_2 0.1s forwards linear;
    animation-iteration-count: unset;
    cursor: pointer;

}

#reset{
    
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: url("../img/back_button.jfif");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-family: Trans;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 1em blue;
    z-index: 2;
    position: absolute;
    right: 41.5vw;
    top: 70vh;
    width: 9vw;
    height: 7vw;
    border-style: solid;
    border-width: 0.05em;
    border-left-width: 0.1em;
    border-color: rgb(0, 255, 242);
}

#reset:hover{

    animation: reset 0.1s forwards linear;
    animation-iteration-count: unset;
    cursor: pointer;

}

#bottom-side{

    height: 310vh;
    background-image: url("../img/universe_3.jpg");
    background-size:contain;
    margin-top: -5.4vh;

}

#explicacao{

    position: relative;
    font-size: x-large;
    width: 90vw;
    height: 100vh;
    text-align: justify;
    margin-left: 5vw;
    color: white;
    border-radius: 5%;
    top: 5vh;

}

#title, #experimento, .text, #manual, .subtitle{

    margin-left: 3vw;
    margin-top: 3vw;
    margin-bottom: 0vw;

}

.subtitle{

    font-family: Nasa;
    color: yellow;
    text-shadow: 0 0 1em yellow;

}

.text2{

    font-family: TT;
    margin-left: 6vw;
    margin-top: 1vw;

}

#title, #experimento, #manual{

    color: yellow;
    text-align: center;
    font-family: Jedi;
    text-shadow: 0 0 1em yellow;

}

#experimento{

    margin-bottom: -7vh;

}

.text{
    
    font-family: TT;
    line-height: 5vh;
    
}

#speedster{

    width: 50vh;
    height: 50vh;
    z-index: 2;
    position: absolute;
    top: 25vh;
    left: 36vw;
    background-image: url("../img/aba.png");
    background-size: 50vh;

}

#speed_text{

    margin-top: 10vh;
    margin-left: 1vw;
    margin-right: 1vw;

}

@keyframes rotate {
    
    from{color: transparent;}
    to{transform: rotate(720deg); color: transparent;}

}

@keyframes pause {
    to{transform: scale(1.1); box-shadow: 0em 0em 4em rgb(0, 255, 242);}
}

@keyframes start_2 {

    to{border-color: blueviolet; box-shadow: 0 0 4em blueviolet;}
}

@keyframes reset {
    to{box-shadow: 0em 0em 2em darkblue;
    color: transparent;
    border-color: darkblue;}
}

@keyframes back {
    
    to{

        transform: rotate(360deg);

    }

}