@font-face {
   font-family: Jedi;
   src: url("../fonts/jedi/starjedi/Starjhol.ttf");
}

body{

    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: black;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}

#container{

    width: 100%;
    height: 100vh;
    margin-top: -3vh;

}

#buttons-box{
    text-shadow: 0 0 0.4em yellow;
    position: relative;
    display: grid;
    justify-content: left;
    width: 100%;
    left: 0%;
    padding: 0;

}

#buttons-box-start{

    top: 7%;
    position: relative;
    display: grid;
    justify-content: left;
    width: 100%;
    padding: 0;

}

#exit_button{

    margin-top: 19vh;

}

.buttons{

    font-family: Jedi;
    background-color: black;
    position: relative;
    left: 0;
    margin-left: 12%;
    margin-top: 5vh;
    margin-bottom: 2vh;
    height: 12vh;
    width: 20vw;
    text-align: center;
    color: yellow;
    font-size: 3.5vh;
    border-color: yellow;

    box-shadow: 0 0 0.4em yellow;
    border-width: 1px;
    border-radius: 0px;

}

#buttons-box :hover{

    animation-name: button;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    cursor: pointer;

}

#experimento_1:hover{

    animation-name: button_ex1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;

}

#experimento_2:hover{

    animation-name: button_ex2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;

}

#exit_button:hover{

    animation-name: button;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    cursor: pointer;

}


#buttons-off{

    margin-left: -5vw;

}

#title-box{

    
    text-align: center;
    width: 70%;
    position: relative;
    left: 9%;
    margin-top: 15vh;

}

#title-box-start{

    text-align: center;
    width: 60%;
    position: relative;
    left: 5%;
    margin-top: 10vh;

}

#title-experiment{

    line-height: 7vh;
    font-family: Jedi;
    font-size: 6vh;
    color: yellow;
    text-shadow: 0 0 0.3em yellow;


}

#title{

    line-height: 7vh;
    font-family: Jedi;
    font-size: 8vh;
    color: yellow;
    text-shadow: 0 0 0.3em yellow;
    

}

#body{

    width: 100%;
    height: 103vh;
    display: inline-flex;
    background-image: url("../img/universe.jpg");
    background-size: cover;
    animation-name: planets_rotation;
    animation-duration: 1500000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

footer{

    position: absolute;
    bottom: -17vh;
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 17vh;
    margin-top: -4.1vh;
    z-index: 5;

}

#right-side{

    position: absolute;
    left: 75%;
    height: 103vh;
    width: 25%;
}

#right-side-2{

    position: absolute;
    left: 0%;
    height: 103vh;
    width: 25%;


}

#left-side-0{

    position: absolute;
    left: 0%;
    top: 9%;
    height: 103vh;
    width: 75%;
    display: inline-flex;
    z-index: 1;

}

#left-side-1{

    position: absolute;
    top: 9%;
    height: 103vh;
    width: 75%;
    display: inline-flex;
    z-index: 1;
    animation-name: right-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;


}

#left-side-2{

    position: absolute;
    top: 9%;
    height: 103vh;
    width: 75%;
    display: inline-flex;
    z-index: 1;
    animation-name: left-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

}

#advice{
    right: 1%;
    bottom: 0%;
    position: absolute;
    color: white;

}

#system{

    position: absolute;
    display: inline-flex;
    margin-left: 30vw;
    margin-top: 21%;

}

.planeta{


    animation-name: planets;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-radius: 100%;

}

#sol{

    margin-top: 0.5vw;
    background-image: url("../img/sun.jpg");
    background-size: cover;
    margin-left: 0.5vw;
    width: 4.8vw;
    height: 4.8vw;
    position: absolute;
    border-radius: 100%;
    animation-name: sun;
    animation-duration: 500000s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;


}

#mercurio{

    width: 9vw;
    height: 9vw;
    left: -1.7vw;
    top: -1.7vw;
    animation-duration: 8.08s;


}

#mercurio::before{

    width: 1.05vh;
    height: 1.05vh;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 2.5vh;
    left: 16.7vh;
    background-image: url("../img/mercurio.png");
    background-size: cover;
    box-shadow: 0 0 0.2vw #919191;
    animation: planets_rotation 59000s linear infinite;
}

#venus{

    width: 14vw;
    height: 14vw;
    left: -4vw;
    top: -4vw;
    animation-duration: 22.5s;

}

#venus::before{

    width: 2.58vh;
    height: 2.58vh;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 3vh;
    left: 25vh;
    background-image: url("../img/venus.jpg");
    background-size: cover;
    box-shadow: 0 0 0.2vw #ff9900;
    animation: planets_rotation 243000s linear infinite;



}

#terra{

    width: 19vw;
    height: 19vw;
    left: -6.5vw;
    top: -6.5vw;
    animation-duration: 36.5s;


}

#terra::before{

    width: 2.73vh;
    height: 2.73vh;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 4vh;
    left: 34vh;
    background-image: url("../img/terra.jpg");
    background-size: cover;
    box-shadow: 0 0 0.2vw #28349b;
    animation: planets_rotation 1000s linear infinite;
}

#marte{

    width: 24vw;
    height: 24vw;
    left: -9vw;
    top: -9vw;
    animation-duration: 68.7s;


}

#marte::before{

    content: "";
    position: absolute;
    border-radius: 50%;
    top: 7vh;
    left: 44.8vh;
    background-image: url("../img/marte.jpg");
    background-size: cover;
    width: 1.44vh;
    height: 1.44vh;
    box-shadow: 0 0 0.2vw orangered;
    animation: planets_rotation 1000s linear infinite;

}

#jupiter{

    width: 29vw;
    height: 29vw;
    left: -11.5vw;
    top: -11.5vw;
    animation-duration: 432.9s;

}

#jupiter::before{

    content: "";
    position: absolute;
    border-radius: 50%;
    top: 6vh;
    left: 51vh;
    background-image: url("../img/jupiter.jpg");
    background-size: cover;
    box-shadow: 0 0 0.2vw #ffb43d;
    width: 6vh;
    height: 6vh;
    animation: planets_rotation 375s linear infinite;
}

#saturno{

    width: 34vw;
    height: 34vw;
    left: -14vw;
    top: -14vw;
    animation-duration: 1072.9s;

}

#saturno::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 7.8vh;
    left: 61.5vh;
    background-image: url("../img/saturno.jpg");
    background-size: cover;
    box-shadow: 0 0 0.2vw #f8fd71;
    width: 5vh;
    height: 5vh;
    animation: planets_rotation 410s linear infinite;

}

#saturn-ring{

    width: 8vh;
    height: 1vh;
    rotate: -75deg;
    position: absolute;
    top: 9.3vh;
    left: 59.5vh;
    border-radius: 50%;
    border-style: solid;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-width: 0.0em 0.3em 0.5em 0.3em;
    animation-name: ring;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 260s;

}

#urano{

    width: 39vw;
    height: 39vw;
    left: -16.5vw;
    top: -16.5vw;
    animation-duration: 3066s;


}

#urano::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 11vh;
    left: 72.5vh;
    background-image: url("../img/urano.webp");
    background-size: cover;
    box-shadow: 0 0 0.2vw #b5fcff;
    width: 2vh;
    height: 2vh;
    animation: planets_rotation 700s linear infinite;
}

#netuno{

    width: 44vw;
    height: 44vw;
    left: -19vw;
    top: -19vw;
    animation-duration: 6012s;



}

#netuno::before{

    content: "";
    position: absolute;
    border-radius: 50%;
    top: 13vh;
    left: 82vh;
    background-image: url("../img/netuno.jpg");
    background-size: cover;
    box-shadow: 0 0 0.2vw #0800ff;
    width: 2.1vh;
    height: 2.1vh;
    animation: planets_rotation 660s linear infinite;

}



#content_1{


    animation-name: fade_in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    height: 96.9%;
    margin-top: -6.7%;

}

#content_1_off{

    height: 96.9%;
    margin-top: -6.7%;
    animation-name: fade_out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;

}

#content_start{

    background-color: transparent;
    height: 100%;
    animation-name: fade_in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}

#content_start_off{

    background-color: transparent;
    height: 100%;
    animation-name: fade_out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;

}



@keyframes fade_out {

    to{opacity: 0}

}

@keyframes fade_in {

    from{opacity: 0}
    to{opacity: 1}

}

@keyframes button {

    0%{scale: 1}
    100%{scale: 1; background-color: #320088; color: white; box-shadow: 0 0 2em #3700ff; text-shadow: 0 0 0.3em white;
        border-color: white;}

}

@keyframes planets {

    to{transform: rotate(360deg)}

}

@keyframes planets_rotation {

    to {background-position: -1000000vw;}

}

@keyframes ring {

    to{transform: rotate(75deg)}

}

@keyframes sun {

    0%{box-shadow: 0 0 4vw orangered; background-position: 0;}
    50%{box-shadow: 0 0 5.5vw orangered; background-position: -1000000vw;}
    100%{box-shadow: 0 0 4vw orangered;  background-position: 0;}

}

@keyframes left-right {

    from{left: 0%}
    to{left: 25%}

}

@keyframes right-left {

    from{left: 25%}
    to{left: 0%}

}

@keyframes button_ex1 {

    0%{scale: 1; ;}
    100%{scale: 1; background-position: center; background-image: url("../img/clocks.webp");background-size: cover; color: black; text-shadow:0 0 2em black ; box-shadow: 0 0 2em saddlebrown;
        border-color: saddlebrown;}

}

@keyframes button_ex2 {

    0%{scale: 1; ;}
    100%{scale: 1; background-position: center; background-image: url("../img/espaco-tempo.jpg");background-size: cover; color: black; text-shadow:0 0 2em black ; box-shadow: 0 0 2em blue;
        border-color: #003cff;}

}